@import url('https://fonts.googleapis.com/css2?family=Prata&family=Work+Sans:wght@300&display=swap');

body {
    line-height: 1.6;
  }

.first {
  display: flex;
  flex-direction: column;
    background: #F9F1DF;
    grid-area: first;
    align-items: center;
  }

.first p{
  margin: 16px;
}

  
.aside {   
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #EB0029;
  position:relative;
  grid-area: aside;
  padding: 0rem 3rem;
}


.schedule-item {  
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 1rem 0rem;
  font-weight: 800;
  font-size: 17px;
  color: white;
  align-items: center;
  position: relative;
  z-index: 1;
} 

h1 {
    font-family: 'Prata', serif;
}

.first h1{
  text-align: center;
  margin: 16px;
  font-size: 2rem;
}

.aside h1{
  margin-top: 60px;
  color: white;
}

.aside p{
  margin-top: 30px;
  color: white;
}

p {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: #666666;
}

.ornament-img{
  margin-top: 40px;
  padding: 10px 30px;
  height: 60px;
  width: 100%;
  object-fit:scale-down;
}

.phone-img{
  padding: 20px;
  height: 80px;
  background: #EB0029;
  object-fit: contain;
}

.contact{
  margin: 30px 80px;
  display: flex;
  align-items: center;
  flex-direction: row ; 
  background-color: white;
}

.contact p{
  font-weight: bold;
  font-family:Verdana,  sans-serif;
}
  
.main {
    background: #fff;
    grid-area: main;
  }
  
  .aside::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/src/assets/fast-food-pattern.png);
    opacity: 0.1;
  }
  
  .aside h1,
  .aside p {
    position: relative;
    z-index: 1;
  }
  
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "first"
      "main"
      "aside";
  }

@media (min-width: 850px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "first first"
        "main aside";
    }
  }
  
@media (min-width: 1300px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first main aside";
  }
}